APP_ENV=local

API_BASE_URL=http://localhost:8787
API_PROXY_TARGET=http://localhost:8787
API_PROXY_ORIGIN=http://web.localhost
WEB_ORIGIN=http://web.localhost
APP_ORIGIN=http://web.localhost
ASSETS_PROXY_TARGET=http://localhost:9010
CONVEX_PROXY_TARGET=http://localhost:3210
